.presentation-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem auto;
}

.presentation-img {
  width: 100%;
}

.presentation-description p {
  text-align: center;
}

.presentation-description span {
  color: var(--primary);
}

.presentation-steps {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}

.custom-card-presentation {
  padding: 1rem;
  background-color: transparent;
  border: solid 3px var(--secondary);
  min-width: 18.75rem;
  flex: 1;
}

.custom-card-header-presentation h3,
p {
  color: var(--primary);
}

.custom-card-body-presentation {
  /* Body do card */
}

.custom-container-form {
  border: solid 3px var(--secondary);
  margin: 2.5rem auto;
  padding: 4rem;
  border-radius: var(--radii-medium);

  h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 3rem;
  }
}

.custom-form-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 1rem;
  flex-flow: row wrap;
}

.custom-form-item {
  flex: 1;
  flex-basis: 9.375rem;
}

.custom-btn-form-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.custom-btn-form {
}
