main {
  padding-bottom: 5rem;
}

.presentation-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem auto;

  p {
    max-width: 43.75rem;
    margin-top: 1rem;
  }
}

.presentation-img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.presentation-description p {
  text-align: center;
}

.presentation-description span {
  color: var(--primary);
}

.presentation-steps {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}

.custom-card-presentation {
  padding: 1rem;
  background-color: transparent;
  border: solid 1px var(--secondary);
  min-width: 18.75rem;
  flex: 1;
}

.custom-card-header-presentation h3,
.custom-card-header-presentation p,
.custom-card-body-presentation p {
  color: var(--primary);
}

.custom-card-header-presentation p {
  letter-spacing: 6px;
}

.custom-calendar {
  margin: 2rem auto;

  >h2 {
    margin-bottom: 1.5rem;
  }
}

.queries-container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  .card-query {
    display: flex;
    padding: 0 1rem 1rem 1rem;
    min-width: 23%;
    flex-basis: 200px;
    border: solid 1px var(--secondary);
    color: var(--text-white);
    background-color: transparent;
    align-items: center;
    color: var(--text-white);

    h4 {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--primary);
      width: fit-content;
      padding: 0.5rem;
      gap: 1rem;
      border-radius: 0 0 var(--radii-medium) var(--radii-medium);
    }

    .card-query-date {
      font-size: medium;
      color: #111;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      font-weight: 500;

      >i {
        font-size: 1.5rem;
      }
    }

    .card-query-body p {
      width: 100%;
      display: flex;
      gap: 0.5rem;
      align-items: center;
      background-color: var(--primary);
      padding: 0.5rem;
      border-radius: var(--radii-medium);
      color: var(--text-white);
    }
  }
}

.custom-container-form {
  border: solid 1px var(--secondary);
  margin: 2.5rem auto;
  padding: 4rem;
  border-radius: var(--radii-medium);

  h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 3rem;
  }
}

.custom-form-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 1rem;
  flex-flow: row wrap;
}

.custom-form-item {
  flex: 1;
  flex-basis: 9.375rem;
}

.custom-btn-form-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.custom-btn-form {
  padding: 0.5rem 1rem;
  border-radius: var(--radii-small);
  color: var(--text-white);
  background-color: var(--primary);
  border: none;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: var(--secondary);
  }
}

@media (max-width: 320px) {
  .custom-btn-form-container {
    justify-content: center;
  }

  h1 {
    text-align: center;
  }

}