
.section-exams{
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 2rem;
}


.section-exams h2{
  margin: 2rem 0;
}

.subtitle-exams{
  margin-bottom: 4rem;
}

.container-cards-exams{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2rem;
}

.card-custom-exams{
  border-radius: var(--radii-medium) ;
  border: solid var(--primary) 1px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  max-width: 20rem;
  min-width: 10rem;
  position: relative;
  height: 440px;
}

.btn-card-custom {
    position: absolute;
    bottom: 1.5rem;
    left: calc(50% - 86px);
    background-color: var(--primary);
    border-color: var(--primary);
    padding: 0.5rem 1.5rem;
    border-radius: var(--radii-small);
    border: none;
    color: var(--text-white);
}

.btn-card-custom:hover {
    background-color: green;
    border-color: green;
}

.card-custom-exams span{
  font-size: 1.2rem;
  color: var(--primary);
  font-weight: 500;
}
.card-custom-exams p{
  margin-top: 20px;
  color: var(--text-black);
}

.hero-exams{
  background-image: url("../assets/exames-pets.webp");
  height: 600px;
  object-fit: cover;
  background-position: 70% 30%;
}

.card-image-custom{
  padding-top: 2rem;
  max-width: 7rem;
  margin: auto;
}