:root {
  --text-black: #000;
  --text-white: #ffffff;
  --primary: #5a6744;
  --secondary: #77865d;
  --accent: #97a97c;
  --bg-color: #ecf1e6;

  --radii-large: 16px;
  --radii-medium: 8px;
  --radii-small: 4px;
}

.navbar,
.offcanvas-custom {
  background-color: var(--primary);
  color: var(--text-white);
}

.navbar-brand {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header .custom-header {
  box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.423);
  -webkit-box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.423);
  -moz-box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.423);
}

.header-text-white a {
  color: var(--text-white) !important;
}

.header-text-white a:hover {
  opacity: 0.8;
}

.navbar-toggler {
  border-color: var(--text-white);
  color: var(--text-white);
  font-size: 1.5rem;
}

.navbar-toggler i {
  font-size: 1.5rem;
}

/* Footer */
.footer-icons .ph {
  font-size: 20px;
  padding-right: 10px;
}

.footer-icons a {
  text-decoration: none;
  color: var(--text-white);
}

.footer-container {
  width: 100%;
  background-color: var(--primary);
  padding: 32px 20px;
}

footer {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  color: var(--text-white);
}

iframe {
  width: 100%;
  height: 200px;
  border-radius: 4px;
}

.div-links a {
  text-decoration: none;
  color: var(--text-white);
}

.div-links a:hover {
  text-decoration: underline;
}

@media (max-width: 992px) {
  footer {
    display: grid;
    justify-content: center;
    align-items: center;
  }
}

.icon-custom {
  display: flex;
  align-items: center;
}
