body {
  background-color: var(--bg-color);
}

main {
  margin-top: 3.5rem;
}

/* .custom-container {
  width: min(100% - 60px, 1440px);
  margin: 0 auto;
} */

.hero-img {
  height: 800px;
  object-fit: cover;
  object-position: center;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}

.card-custom {
  width: min(100%, 300px);
}

.card-image-custom {
  padding: 2rem;
  max-width: 15rem;
  margin: auto;
}

.about-us-container {
  display: flex;
  justify-content: space-evenly;
}

.image-about {
  position: relative;

  width: 150px;

  height: 150px;

  border-radius: 9999px;

  overflow: hidden;
}

.image-about img {
  max-width: 250px;

  position: absolute;

  top: 0px;

  left: -50px;
}

.advantages-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.custom-card-icon {
  padding: 10px;
  width: 200px;
  height: 200px;
  border: 1px solid black;
  border-radius: 50%;
}