body {
  background-color: var(--bg-color);
}

main {
  margin-top: 3.5rem;
}

main section {
  margin-bottom: 6rem;
}

/* .custom-container {
  width: min(100% - 60px, 1440px);
  margin: 0 auto;
} */

.hero-img {
  display: block;
  width: 100%;
  height: 800px;
  object-fit: cover;
  object-position: center;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}

.card-custom {
  width: min(100%, 300px);
  text-align: center;
  background-color: var(--accent);
  color: var(--text-white);
}

.card-image-custom {
  padding: 2rem;
  max-width: 15rem;
  margin: auto;
}

.custom-button {
  background-color: var(--primary);
  border-color: var(--primary);
  border-radius: var(--radii-medium);
  color: var(--text-white);
  font-weight: 500;
}

.custom-button:hover {
  background-color: var(--secondary);
  border-color: var(--secondary);
}

.custom-button-card {
  background-color: var(--bg-color);
  border-color: var(--primary);
  border-radius: var(--radii-medium);
  color: var(--primary);
  font-weight: 700;
}

.custom-button-card:hover {
  background-color: var(--secondary);
  border-color: var(--bg-color);
}

/* .section-about-us {

} */

.about-us-container {
  display: flex;
  justify-content: space-evenly;
}

.image-about {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 9999px;
  overflow: hidden;
}

.image-about img {
  max-width: 250px;
  position: absolute;
  top: 0px;
  left: -50px;
}

.advantages-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.custom-card-icon {
  padding: 10px;
  width: 200px;
  height: 200px;
  border: 1px solid black;
  border-radius: 50%;
}

.section-services {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  flex-wrap: wrap;
}

.section-services h3 {
  margin-bottom: 1.5rem;
}

.section-services > .div-services {
  width: 400px;
}

.section-services > div {
  width: 240px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cards-advantages {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.cards-advantages div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  line-height: 1.2;
  gap: 0.5rem;
}