:root {
  --primary: #4f6f52;
  --secondary: #739072;
  --tertiary: #86a789;
  --quaternary: #d2e3c8;
  --beige: #f6f2db;
}

.navbar {
  background-color: var(--primary) !important;
}

.ph .ph-paw-print {
  font-size: 2rem;
}

body {
  background-color: var(--beige);
}

/* .custom-container {
  width: min(100% - 60px, 1440px);
  margin: 0 auto;
} */

.hero-img {
  height: 800px;
  object-fit: cover;
  object-position: center;
}
